$yellow: #FBE8A6;
$orange: #F4976C;
$drkBlue: #303C6C;
$regBlue: #B4DFE5;
$ltBlue: #D2FDFF;

@mixin sectionBackground {
    background-color: rgba(210, 255, 255, 0.4);
    // border-top: dashed 2px $orange;
    border-bottom: dashed 2px $orange;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0;
}


body {
    font-family: 'Farro', sans-serif;
    background-image: url(/assets/images/background.png);
}

/* Header Information */
header {
    background-image: url(/assets/images/clouds.png);
    background-repeat: no-repeat;
}

#name {
  margin-top: 200px;
  margin-bottom: 0;
  padding: 0;
}

@media screen and (max-width: 800px) {
    #bio {
        margin-left: 30px;
    } 
}

@media screen and (max-width: 700px) {
    #bio {
        margin-left: 50px;
    } 
}
@media screen and (max-width: 600px) {
    #bio {
        margin: 0;
    } 
}

/* Header- NAVIGATION */
.navHolder {
    background-color: $orange;
    padding: 15px 0;
    padding-right: 60px;
    margin-top: -50px;
    background-size: 100%;
    // border-top: dashed 2px $ltBlue;
    border-bottom: dashed 2px $ltBlue;
    
}

.nav {
    display: inline;
    margin-right: 20px;
    padding: 15px 15px;
    font-size: 1.5rem;
}

.nav:hover{
    cursor: pointer;
    border-radius: 3px;
    background-color: $ltBlue;
}


/* ABOUT ME section */
.about-me {
   @include sectionBackground();

    img {
        object-fit: cover;
        object-position: center center;
        border: transparent;
        border-radius: 250px;
        max-width: 250px;
        height: auto;
        margin: 4% 0;
    }

    h4 {
        font-size: 28px;
        padding: 5% 0 0 0;
    }
    
    li {
        line-height: 1.7;
    }
}
/* Start PORTFOLIO section */

.portfolio {
    @include sectionBackground();
}

.cardText {
    padding-top: 15%;
}
@media screen and (max-width: 600px) {
    .cardText {
        padding-top: 15%;
    }
}

/* Start CONTACT section */
.contact {
    @include sectionBackground();
    line-height: 2;
}


/* Start RESUME section */
.resume {
    @include sectionBackground();
    padding: 2% 0;

}

footer {
    @include sectionBackground();
    padding: 10px;
}