:root {
    --light: #f3f1ec;
    --tan: #D8C3A5;
    --gray: #8E8D8A;
    --pink: #E98074;
    --dark-pink: #E85A4F;
}

body {
    background-color: #fcfaf5;
    font-family: 'Courier New', Courier, monospace;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    /* background-color: var(--light); */
}

p {
    font-size: 16px;
    line-height: 1.25;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    color: var(--light);
    text-decoration: none;
    cursor: pointer;
 }

/* sidebar text*/
 h2 {
    font-size: 35px;
    align-self:center;
    text-align: right;
    border-bottom: solid var(--pink) 1px;
    /* border-right: solid var(--pink) 1px; */
    padding-right: 20px;
    margin-left: 50px;
}

/* navigation & portfolio text*/
h3 {
    display: inline-grid;
    align-self: flex-start;
    font-size: 23px;
    margin-right: 25px;
    padding: 0 20px;
    border-bottom: solid 1px var(--light);
    border-left: solid 1px var(--light);
    
}

/* headline text within paragraphs */

/* Header Information */
.header {
    grid-area: header;
    display: grid;
    background-image: url(./images/header-backgound.png);
    background-repeat: no-repeat;
}

#my-name {
    grid-column: 1;
    grid-row: 1;
    max-width: 250px;
    padding-left: 30px;
    padding-right: 5px;
    margin-top: 18px;
}

/* Header- NAVIGATION */
.navigation {
    grid-column: 2 / span 6;
    grid-row: 1;
    align-self: left;
    padding: 30px 0px;
    margin-top: 17px;
    /* margin-left: -15px; */
}

.nav:hover{
    background-color: var(--pink);
    color: var(--tan);
    border-bottom: solid 1px var(--tan);
    border-left: solid 1px var(--tan);
    border-radius: 3px;
    transition-duration: .25s;
}

/* Specific to SIDEBAR */
.sidebar {
    display: grid;
    /* background-color: var(--light); */
    grid-column: 1;
}

.sidebar .break {
    padding: 40px 0;
    height: 50px;
}

/* Start ABOUT ME section */
.about-me {
    display: grid;
    grid-column: 2 / span 6;
    /* margin-top: 20px; */
    grid-template-columns: repeat(4 1fr);
    grid-template-rows: auto;
}

.about-me #jocelyn {
    grid-auto-flow: row;
    grid-row: 1 / span 3;
    align-self: center;
    width: 18vw;
    visibility: visible;
    object-fit: cover;
    object-position: center center;
    height: 30vh;
    grid-column: 2;
    border: transparent;
    border-radius: 200px;
    padding: 20px;
    /* margin-top: 15%; */
}

.about-me h4 {
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
    grid-column: 3 / span 6;
    grid-row: 1;
    padding: 10% 0 5% 0;
    padding-left: 10px;
}


.about-me p {
    grid-column: 3 / span 6;
    grid-row: 2;
    border-bottom: solid var(--dark-pink) 1px;
    align-self: stretch;
    padding: 0px 20px 10px 10px;
    margin-right: 15%;
}

/* Start PORTFOLIO section */
.portfolio-images {
    grid-column: 2 / span 6;
    grid-row: 3 / span 2;
    padding: 25px 100px 25px 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.portfolio-images img {
    grid-auto-flow: row;
    padding: 5px;
    justify-content: space-evenly;
    width: 15vw;
    visibility: visible;
    object-fit: cover;
    object-position: center center;
    height: 30vh;
}

.overlay {
    position: absolute; 
    width: 14vw;
    bottom: 0; 
    opacity:0;
    transition: .25s ease;
    margin-left: 5px;
    padding: 5px;
    color: var(--light);
    margin-bottom: 35px;
  }

.overlay h3 {
      font-size: 20px;
  }

 #one:hover .overlay {
     background-color: var(--tan);
    opacity: 1;
  }

  #two:hover .overlay {
    background-color: var(--gray);
    opacity: 1;
  }

  #three:hover .overlay {
    background-color: var(--pink);
    opacity: 1;
  }

  #four:hover .overlay {
    background-color: var(--tan);
   opacity: 1;
 }

 #five:hover .overlay {
   background-color: var(--gray);
   opacity: 1;
 }

 #six:hover .overlay {
   background-color: var(--pink);
   opacity: 1;
 }

 #seven:hover .overlay {
    background-color: var(--tan);
   opacity: 1;
 }

 #eight:hover .overlay {
   background-color: var(--gray);
   opacity: 1;
 }

/* Start CONTACT section */
.contact p {
    padding-top: 30px;
    align-self: flex-end;
    text-align: center;
}

/* Start RESUME section */
.resume p {
    padding-top: 30px;
    align-self: flex-end;
    text-align: center;
}

.footer {
    grid-area: footer;
    grid-row: 10;
    grid-column: 1 / span 8;
    padding: 10px;
    text-align: center;
    color: var(--light);
    background-color: var(--dark-pink);
}

