:root {
    --light: #f3f1ec;
    --tan: #D8C3A5;
    --gray: #8E8D8A;
    --pink: #E98074;
    --dark-pink: #E85A4F;
}

body {
    background-color: #fcfaf5;
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-size: 16px;
    line-height: 1.25;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    color: var(--light);
    text-decoration: none;
    cursor: pointer;
 }

/* sidebar text*/
 h2 {
    font-size: 35px;
    text-align: right;
    border-bottom: solid var(--pink) 1px;
    padding-right: 20px;
    margin-left: 50px;
    color: black;
    align-self: center;
}

/* navigation & portfolio text*/
h3 {
    display: inline-grid;
    align-self: flex-start;
    font-size: 23px;
    margin-right: 25px;
    padding: 0 20px;
    border-bottom: solid 1px var(--light);
    border-left: solid 1px var(--light);
    
}

/* Header Information */
header {
    grid-area: header;
    grid-template-columns: 1fr 5fr;
    display: grid;
    background-image: url(./images/header-backgound.png);
    background-repeat: no-repeat;
}

#my-name {
    grid-column: 1;
    grid-row: 1;
    max-width: 250px;
    padding-left: 30px;
    padding-right: 5px;
    margin-top: 18px;
}

/* Header- NAVIGATION */
.navigation {
    grid-column: 2;
    grid-row: 1;
    padding: 10px 0px;
    margin-top: 10px;
}

.nav:hover{
    background-color: var(--pink);
    color: var(--tan);
    border-bottom: solid 1px var(--tan);
    border-left: solid 1px var(--tan);
    border-radius: 3px;
    transition-duration: .25s;
    cursor: pointer;
}

/* Start ABOUT ME section */
.about-me {
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
}

.about-me #about {
    grid-column: 1;
    grid-row: 1 span / 2;
    align-self: flex-end;
}

.about-me #jocelyn {
    display: flex;
    grid-row: 1 / span 2;
    grid-column: 2;
    align-self: center;
    object-fit: cover;
    object-position: center center;
    width: 80%;
    height: 80%;
    border: transparent;
    border-radius: 200px;
    margin-left: 10%;
}

.about-me h4 {
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
    grid-column: 3;
    grid-row: 1;
    padding: 10% 0 5% 0;
    display: flex;
    align-items: end;
}

.about-me p {
    grid-column: 3;
    grid-row: 2;
    border-bottom: solid var(--dark-pink) 1px;
    margin-bottom: 15%;    
    margin-right: 15%;
    display: flex;
    padding-bottom: 20px;
}

/* Start PORTFOLIO section */

.portfolio {
    display: flex;
    margin-top: 20px;
    gap: 0 25px;
}

#portfolio {
    flex-basis: 23%;
}

.portfolio h3 {
    align-self: center;
    margin: 100px 15px;
}

.portfolio p {
    font-family: 'Courier New', Courier, monospace;
    align-self: center;
    margin: 30% 15px;
    padding: 0 20px;
    border-bottom: solid 1px var(--light);
    border-left: solid 1px var(--light);
}

#one {
    flex-basis: 25%;
    background-color: var(--gray);
    margin: .5% 0;
}

#one:hover {
    background-color: var(--dark-pink);
    cursor: pointer;
    transition-duration: .25s;
}

.placeholder {
    flex-basis: 52%;
    display: flex;
    flex-wrap: wrap;

}

#two {
    background-color: var(--pink);
    margin: 5px;
}

#two:hover {
    background-color: var(--dark-pink);
    cursor: pointer;
    transition-duration: .25s;
}

#three {
    background-color: var(--gray);
    margin: 5px;
}

#three:hover {
    background-color: var(--dark-pink);
    cursor: pointer;
    transition-duration: .25s;
}

#four {
    background-color: var(--pink);
    margin: 5px;
}

#four:hover {
    background-color: var(--dark-pink);
    cursor: pointer;
    transition-duration: .25s;
}

#five {
    background-color: var(--gray);
    margin: 5px;
}

#five:hover {
    background-color: var(--dark-pink);
    cursor: pointer;
    transition-duration: .25s;
}

.portfolio-images {
    grid-column: 3 / span 2;
    display: flex;
    flex-wrap: wrap;
}

.portfolio-images img {
    max-height: 200px;
    padding: 5px;
    object-fit: cover;
    object-position: center center;

}

/* Start CONTACT section */
.contact {
    display: grid;
    margin-top: 200px;
    grid-template-columns: 1fr 3fr;
}
.contact p {
    text-align: center;
}

/* Start RESUME section */
.resume {
    display: grid;
    margin-top: 200px;
    grid-template-columns: 1fr 3fr;
}

.resume p {
    padding-top: 30px;
    text-align: center;
}

footer {
    display: flex;
    margin-top: 200px;
    padding: 10px;
    color: var(--light);
    background-color: var(--dark-pink);
    justify-content: center;
}